@green: darken(#4AAD8A, 15%);
@footer_dark: #4f5050;
@header_dark: #414246;

@black: black;
@dark: #444;

a:link ,a:active ,a:visited { 
    color: @green;
}

.spacer {
    margin-top: 30px;
}

.grid {
    float: left;
    margin-bottom: 2.12766%;
    padding-top: 0px;
}

.col-half {
    width: 48.5%;
    &:nth-of-type(odd){ margin-right: 1.5%; }
    &:nth-of-type(even){ margin-left: 1.5%; }
}

.right {
    float: right;
}

.home {
    section {
        float: left;
        width: 100%;
        max-width: 100%;
        margin: 0px; padding: 0px;
    }

    h1 {
        font-size: 1.8em;
        font-weight: 400;
        color: @green;
        margin: 10px 0px 10px 0;
        border-bottom: 1px solid #CCC;
        padding: 3px;

    }
    nav {
        float: right;
        padding-top: 5px;
        a {
            font-size: 1em;
            font-style: italic;
            font-weight: bold;
            color: @green;
        }
    }

    section#content {
        width: 100%; max-width: 100%;
        margin-left: 0px;
        margin-top: 0px !important;
        article {
            min-height: 120px;
        }
        h2 {
            margin-bottom: 3px;
            font-size: 1.3em;
        }

        .thumbnail {
            margin-bottom: 5px;
            img { width: 100%; }
        }

        .details {

            span { margin-right: 1em; }
            .categories {
                ul,li { display: inline; }
            }
            color: lighten(@dark, 20%);
            margin-bottom: 5px;
        }

        //img {float: left; margin-right: 10px; }
    }
}

#youtube {
    article {
        float: left;
        width: 23.5%;
        padding-left: 2%; 
    
        &:nth-of-type(1) { padding-left: 0px; }
    
        h2 {
            margin-top: 5px;
            font-size: 1.3em;
        }
        time {
            margin-top: 3px;
            font-style: italic;
        }
    }


}
#instagram {
    #instafeed {
        width: 100%; max-width: 100%;
        min-height: 300px;

        a {
            float: left;
            width: 16.66%;
            img {
                border: none;
                width: 100%;
            }
        }
    }

    nav { padding-top: 0.5em; }

    margin-bottom: 3em;    
}

.single {
    #content {
        .post {
            margin-bottom: 0px;
        .pagelinks { display: none; }
        }
    }
}

// from the main theme...
#footer{
    .scroll-top { display: none; }
    background: linear-gradient(@footer_dark, black);
    width: 100%;
    max-width: none ;

    #footer-wrapper {
        text-align: center;
    }
    .content {
        display: inline-block;
        min-width: 960px;
        padding: 1em 2em 0em 2em;
    }
    .powered {
        color: white;
        text-align: left;
        margin-bottom: 0px;
        .grid { padding-right: 1em; margin-bottom: 0px;}
        img {
            display: block;
            margin: .5em auto;            
        }
        .consultant img { margin-top: 1em; }

    }
    .copyright { 
        .powered ;
        margin-top: 1em;
        a { color: white !important; } 
    }
}

#footer{
    font-weight: 400;
    font-size: 11px;
    img {
        border: none;
    }
}


@media screen and (max-width: 1000px){
    #youtube {
        article {
            width: 49%;
            iframe {
                width: 100%;
                height: 234px;
            }
            &:nth-of-type(1), &:nth-of-type(2) { margin-bottom: 15px; }
            &:nth-of-type(3) { padding-left: 0px !important; }
        }
    }
}

@media screen and (max-width: 320px){
    #youtube {
        article {

            float: none;
            width: 100%;
            iframe {
                width: 100%;
                height: 250px;
            }
        
        }
    }
}

@media screen and (max-width: 600px){
    #instafeed {
        a { width: 33%;}
    }
    #youtube {
        article {
            iframe {
                height: 156px !important;
            }
        }
    }
}

@media screen and (max-width: 958px){
    #logo {
        padding-left: 2px;
    }

    #footer {
        .content {
            width: 100% !important;
            min-width: 0px !important;
        }
    }
}